.navigation {
    background-color: rgb(255, 255, 255, .95);
    /* transition: .3s; */
    /* backdrop-filter: blur(10px); */
}

.hover-nav {
    opacity: 0;
    transition: .3s;
}

.navbar-logo {
    height: 25px;
}

/* .nav-brand {
    font-family: 'Parisienne', cursive;
} */