.front-page-video {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: black;
}

.video-cover {
    background-color: rgb(255, 255, 255, .5);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s;
}

.video-cover:hover {
    opacity: 0;
    transition: .5s;
}

.video-cover h1 {
    padding-left: 1em;
    font-size: 4em;
    text-decoration: underline;
}

.video-cover h5 {
    padding: 0 2em 0 2em;;
}

.presentation-block {
    height: 1000px;
    background-color: white;
    margin-top: calc(56.25vw + 56px);
    padding-top: 25px;
}

.presentation-block img {
    width: 100%;
}

@keyframes arrowAnimation {
    0% {
        opacity: 1;
        margin-top: 0px;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        margin-top: 25px;
    }
}

.front-page-arrow {
    animation-name: arrowAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.front-page-arrow {
    /* flex-basis: 100%; */
    height: 2em;
    position: fixed;
    z-index: -1;
    top: 93vh;
    left: 50vw;
    /* margin-top: -70px; */
    color: white;
}