.front-page-video {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: black;
}

.video-cover {
    background-color: rgb(255, 255, 255, .5);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s;
}

.video-cover:hover {
    opacity: 0;
    transition: .5s;
}

.video-cover h1 {
    padding-left: 1em;
    font-size: 4em;
    text-decoration: underline;
}

.video-cover h5 {
    padding: 0 2em 0 2em;;
}

.presentation-block {
    height: 1000px;
    background-color: white;
    margin-top: calc(56.25vw + 56px);
    padding-top: 25px;
}

.presentation-block img {
    width: 100%;
}